<div class="pay_box">
  <div class="payForm">
    <p>Оплатить при получении заказа</p>
    <input type="radio" id="payAfter" class="pay" checked>
  </div>
  <div class="payForm">
    <p>Оплатить заказ на сайте</p>
    <input type="radio" id="payOnSite" class="pay">
  </div>
  <div class="nextBtn">
    <p>Далее</p>
  </div>
</div>
