<div class="logWin">
  <form class="logForm" action="main.php" method="post">
    <label for="login">Введите логин</label>
    <input type="text" name="login" value="">
    <label for="pwd">Введите пароль</label>
    <input type="text" name="pwd" value="">
    <input type="submit" name="" value="Вход">
  </form>
</div>
