<div class="mainStat">
  <div class="left_side">
    <a href="order_control.php">
      <div class="adminBtn" id="orderC">
        <p>Управление заказами</p>
      </div>
    </a>
    <a href="settings.php">
      <div class="adminBtn" id="adminSettings">
        <p>Настройки</p>
      </div>
    </a>
  </div>
  <div class="infoWin">

  </div>
</div>
