<div class="mainStat">
  <div class="left_side">
    <a href="order_control.php">
      <div class="adminBtn" id="orderC">
        <p>Управление заказами</p>
      </div>
    </a>
    <a href="settings.php">
      <div class="adminBtn" id="adminSettings">
        <p>Настройки</p>
      </div>
    </a>
  </div>
  <div class="infoWin">
    <div class="orderRow">
      <p class="orderInfo">Номер заказа</p>
      <p class="orderInfo">Покупатель</p>
      <p class="orderInfo">Стоимость заказа</p>
      <p class="orderInfo">Адрес доставки</p>
      <p class="orderInfo">Дата оформления заказа</p>
      <p class="orderInfo">Статус заказа</p>
    </div>
    {% for item in order %}
      <div class="orderRow" id="{{item.order_num}}">

        {% for k in item %}
        <p class="orderInfo">{{k}}</p>
        {% endfor %}
      </div>
    {% endfor %}


  </div>
</div>
